.MainPage {
  background: rgb(100, 150, 100);
  min-height: 100vh;
  display: flex;
  /*  flex-direction: column;*/
}

.RouteForm {
  left: 50px;
  top: 100px;
  border-radius: 6px;
  width: 450px;
  height: 250px;
  position: absolute;
  display: block;
  background: azure;
}

.RoutFormForRedirect {
  text-align: center;

  display: block;
  position: relative;

  margin-top: 80px;
}

.RoutInputDiv {
  padding-left: 20px;
  width: 410px;
}

.RoutButtonDiv {
  padding-top: 30px;
  text-align: center;
}

.topPaddingMemo {
  padding-top: 30px;
}
